<?xml version="1.0" ?>

<robot name="googly_john">
	
	<material name="grey">
		<color rgba="0.5 0.5 0.5 1"/>
	</material>
	<material name="red">
		<color rgba="1 0 0 1"/>
	</material>
	<material name="black">
		<color rgba="0.1 0.1 0.1 1"/>
	</material>

	<link name="base_link">
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.8 0.8 0.1"/>
			</geometry>
		</collision>
	</link>

	<joint name="base_link_to_seating" type="fixed">
		<parent link="base_link"/>
		<child link="seating"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<link name="seating">
		<visual>
			<origin xyz="0 0 0.4" rpy="0 0 0"/>
			<geometry>
				<box size="0.8 0.8 0.8"/>
			</geometry>
			<material name="red"/>
		</visual>
		<collision>
			<origin xyz="0 0 0.4" rpy="0 0 0"/>
			<geometry>
				<box size="1 1 0.8"/>
			</geometry>
		</collision>
    </link>

	<joint name="seating_to_pole" type="fixed">
        <parent link="seating"/>
    	<child link="pole"/>
    	<origin xyz="-0.4 -0.4 0" rpy="0 0 0" />
    </joint>

    <link name="pole">
		<visual>
			<origin xyz="0 0 1"/>
			<geometry>
				<box size="0.1 0.1 2"/>
			</geometry>
			<material name="grey"/>
		</visual>
	</link>

    <joint name="pole_to_laser" type="fixed">
        <parent link="pole"/>
    	<child link="laser"/>
    	<origin xyz="0 0 2" rpy="0 0 0" />
    	<axis xyz="0 0 1" />
    </joint>

    <link name="laser">
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>


    <joint name="pole_to_color" type="fixed">
        <parent link="pole"/>
    	<child link="camera_color_optical_frame"/>
    	<origin xyz="0 0 2.2" rpy="0 -1.57 0" />
    	<axis xyz="0 0 1" />
    </joint>

    <link name="camera_color_optical_frame">
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="black"/>
		</visual>
    </link>

    <joint name="pole_to_depth" type="fixed">
        <parent link="pole"/>
    	<child link="camera_link"/>
    	<origin xyz="0 0 2.2" rpy="1.57 3.14 1.57" />
    	<axis xyz="0 0 1" />
    </joint>

    <link name="camera_link">
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="black"/>
		</visual>
	</link>

</robot>
